@import "variables";
.container {
  display: flex;
  flex-direction: column;


  .input-search {
    padding: 0.65rem 0.5rem;
    border-radius: 7px;
    border: none;
    outline: none;
    border: 1px solid rgba($cor-primaria, 0.9);
  }

  .container-search {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;

    .card {
      background-color: #fff;
      border-radius: 8px;
      padding: 5px;
      border: 1px solid #979696;
      margin: 5px 5px 5px 0;
    }

    .card:hover {
      cursor: pointer;
      background-color: rgba($cor-primaria, 0.7);
      color: $branco;
    }
  }
}
