.container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
  gap: .5rem;

  img {
    width: 40px;
  }


  span {
    font-size: .85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
