@import "variables";

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
<<<<<<< HEAD
  padding: 0 0 0 0.2rem;

  img {
    width: 35px;
=======
  gap: .5rem;

  img {
    width: 40px;
>>>>>>> c9821c380ea06793e6ec7b2ff1b43f0e2b536a88
  }


  span {
<<<<<<< HEAD
    font-size: 0.9rem;
=======
    font-size: .85rem;
>>>>>>> c9821c380ea06793e6ec7b2ff1b43f0e2b536a88
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
