<div class="painel-container">
  <div class="content">
    <div class="img-container">
      <img src="../../../assets/img/spotify-logo.png" alt="" />
    </div>

    <div class="menus">
      <app-button-menu
        [nameMenu]="'home'"
        [selected]="btnSelected === 'home'"
        (click)="buttonClick('home')"
      >
        <i class="fa-solid fa-house"></i>
      </app-button-menu>

      <app-button-menu
        [nameMenu]="'pesquisar'"
        [selected]="btnSelected === 'pesquisar'"
        (click)="buttonClick('pesquisar')"
      >
        <i class="fa-solid fa-search"></i>
      </app-button-menu>

      <app-button-menu
        [nameMenu]="'artistas'"
        [selected]="btnSelected === 'artistas'"
        (click)="buttonClick('artistas')"
      >
        <i class="fa-solid fa-guitar"></i>
      </app-button-menu>
    </div>

    <div class="menus">
      <span class="playlist-title"> PLAYLISTS </span>

      <div class="playlist-scroll">
        <app-button-menu
          *ngFor="let playlist of playlistUser"
          [nameMenu]="playlist.name"
          [selected]="btnSelected === playlist.id"
          (click)="buttonClick(playlist.id)"
        >
          <i class="fa-solid fa-music"></i>
        </app-button-menu>
      </div>
    </div>

    <div class="user-info">
      <app-footer-user></app-footer-user>
    </div>
  </div>
</div>
