<div class="painel-container">
  <div class="content">
    <div class="img-container">
      <img src="../../../assets/img/spotify-logo.png" alt="" />
    </div>
    <div class="menus">
      <app-button-menu></app-button-menu>
      <app-button-menu></app-button-menu>
    </div>
  </div>
</div>

<!-- <div class="cards bg">
        <p><i class="fa-solid fa-house icon"></i>Home</p>
      </div>
      <div class="cards">
        <p><i class="fa-solid fa-magnifying-glass icon"></i>Pesquisar</p>
      </div>
      <div class="cards">
        <p><i class="fa-solid fa-guitar icon"></i>Artistas</p>
      </div> -->
