<div class="painel-container">
  <div class="content">
    <div class="img-container">
      <img src="../../../assets/img/spotify-logo.png" alt="" />
    </div>
    <div class="menus">
      <app-button-menu
        [nameMenu]="'Home'"
        [selected]="btnSelected === 'Home'"
        (click)="buttonClick('Home')"
      >
        <i class="fa-solid fa-house"></i>
      </app-button-menu>

      <app-button-menu
        [nameMenu]="'Pesquisar'"
        [selected]="btnSelected === 'Pesquisar'"
        (click)="buttonClick('Pesquisar')"
      >
        <i class="fa-solid fa-search"></i>
      </app-button-menu>

      <app-button-menu
        [nameMenu]="'Artistas'"
        [selected]="btnSelected === 'Artistas'"
        (click)="buttonClick('Artistas')"
      >
        <i class="fa-solid fa-guitar"></i>
      </app-button-menu>
    </div>
  </div>
</div>
