@import "variables";

$w-100: 100%;
$footer-heigth: 70px;
$h-spotify-logo: 80px;
$h-menus: 150px;

$h-desconsiderar: calc($h-spotify-logo + $footer-heigth + $h-menus);

.painel-container {
  position: fixed;
  max-width: 210px;
  height: 100vh;
  padding: 2rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 12, 0.308);
  top: 0;
  left: 0;
  background-color: $cor-fundo2;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .img-container {
      min-height: $h-spotify-logo;

      img {
        width: 11rem;
      }
    }

    .menus {
      flex-direction: column;
      width: $w-100;
      height: $h-menus;

      .playlist-title {
        font-size: 0.8rem;
        margin: 10px 0;
        align-self: flex-start;
        font-weight: 600;
        color: $preto-transparent-30;
      }

      .playlist-scroll {
        width: $w-100;
        max-height: calc(95vh - $h-desconsiderar);
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .user-info {
      position: absolute;
      bottom: 1.7rem;
      width: 100%;
      height: $footer-heigth;
      text-align: center;
      padding: 1rem;

      span {
        font-size: 1.2rem;
      }
    }
  }
}
