@import "variables";

button {
  margin-bottom: 0.65rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 10px 0 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: $cor-primaria;
  background-color: transparent;

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9rem;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 0.5rem;
    overflow: hidden;
  }

  &.activate {
    background-color: $cor-primaria;
    color: $branco;
  }

  .nameMenu::first-letter {
    text-transform: uppercase;
  }
}
