@import "variables";

.card {
  height: 130px;
  overflow: hidden;
  position: relative;
  display: flex;

  span {
    color: #000;
    text-shadow: 2px 2px 10px $branco;
    font-size: 2rem;
  }

  .artists {
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .image {
    position: absolute;
    top: 0;
    right: 0;
    height: 120%;
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //opacity: 0.6;
    z-index: 0;
  }
}
